<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">


    <title>{{ site.titleComic }} by Hazael Mojica</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.titleComic }}</h1>
        <h2>{{ site.descriptionComic }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <div class="comic">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>{{ page.title }}</h1>
                    <p class="meta">{{ page.date | date_to_string }}</p>

                    {% assign urlSplit = page.url | split: "/" %}
                    {% assign lang = urlSplit[2] %}
                    {% assign comic = urlSplit[3] | plus: 0 %}
                    {% assign comicTotal = site.comicTotal | plus: 0 %}

                    {% if comic > 0 %}
                    <img src="/assets/aass/{{ comic }}_{{ lang }}.png" alt="Comic AASS: {{ page.title }}"/><br>
                    {% endif %}
                    <p>
                        {% if lang %}
                          {% if comic > 1 %}
                          {% assign previous = comic | minus: 1 %}
                          <a href="/aass/{{ lang }}/{{ previous }}">Previous</a> |
                          {% endif %}
                          {% if comic < comicTotal %}
                          {% assign next = comic | plus: 1 %}
                          <a href="/aass/{{ lang }}/{{ next }}">Next</a><br>
                          {% endif %}
                        {% endif %}
                    </p>

                    <p>
                      {% if lang == "es" %}
                        <a href="/aass/en/{{ comic }}">In English</a>
                      {% endif %}
                      {% if lang == "en" %}
                        <a href="/aass/es/{{ comic }}">En Español</a>
                      {% endif %}
                    </p>

                    {% if comic == 0 %}{% comment %} This part here is for rendering the comic page list in index.md {% endcomment %}
                      <h2>En Español</h2>
                      {% for p in site.pages %}
                        {% if p.layout == "comic" %}
                          {% if p.layout == "comic" %}
                            {% assign uS = p.url | split: "/" %}
                            {% assign l = uS[2] %}
                            {% if l == "es" %}
                              <li><a href="{{ page.url }}">{{ p.title }}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      <br><br><br>
                      <h2>In English</h2>
                      {% for p in site.pages %}
                        {% if p.layout == "comic" %}
                          {% if p.layout == "comic" %}
                            {% assign uS = p.url | split: "/" %}
                            {% assign l = uS[2] %}
                            {% if l == "en" %}
                              <li><a href="{{ page.url }}">{{ p.title }}</a></li>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                    {% endif %}

                    {{ content }}
                </div>
            </div>
        </div>

        <hr />

        <div class="disqus">
        <div id="disqus_thread"></div>
            <script>

            var disqus_config = function () {
            this.page.url = "{{ site.githuburl }}{{ page.url }}";
            this.page.identifier ="{{ page.url }}";
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://hmojicag-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </section>
    </div>

  </body>
</html>
